{% load static %}
<header>

  
    <!-- Background image -->
    <div
      class="p-5 text-center bg-image"
      style="
        background-image: url('{% static "img/flan0.jpeg" %}');
        height: 400px;
        background-size: cover;
        background-position: center;
      "
    >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">ONLY FLANS ¡EXTASIS CULINARIO!</h1>
            <h4 class="mb-3">Con nuestros Deliciosos Flanes</h4>
            
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>