{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <img
            src="{% static 'img/onlyflans.png' %}"
            height="15"
            alt="onlyflans"
            loading="lazy"
          />
        </a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">Acerca</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'welcome' %}">Bienvenido Cliente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact_form' %}">Contactanos</a>
          </li>
        </ul>
      </div>

      <div class="d-flex align-items-center">

        <a class="text-reset me-3" href="#">
          <i class="fas fa-shopping-cart"></i>
        </a>


        {% include "boostrap-script.html" %}
        
        <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <p>  Bienvenido {{ user.username }}</p>
          <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
        </li>
        {% endif %}
        </ul>
    
      
</nav>

  
