{% extends 'base.html' %}
{% load static %}

{% block 'content' %}
<header class="header-with-margin" style="margin-top: 40px;">
    <div class="container d-flex align-items-center justify-content-center" style="height: 30vh;">
        <div class="row">
            <div class="col">
                <h3 class="text-center" style="color: palevioletred;">Bienvenidos a OnlyFlans. Tenemos más de 5 años estudiando sobre el mundo de los postres, 
                    somos un gran equipo de profesionales que nos apasiona aprender de libros, probar diferentes recetas y 
                    mezclar sabores. Toda esa experiencia nos ha ayudado a crear con planificación, estrategia y 
                    organización esta empresa, que además de ofrecer postres de calidad, enseña a más personas a 
                    lograr diferentes sabores y mostrarles que hay un mundo infinito de creatividad en la 
                    presentación y combinación de cada postre que se crea.</h3>
            </div>
        </div>
    </div>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col">
                        <img src="{% static 'img/tienda.png' %}" class="d-block w-100" alt="Wild Landscape">
                    </div>
                    <div class="col">
                        <img src="{% static 'img/tienda2.png' %}" class="d-block w-100" alt="Camera">
                    </div>
                    <div class="col">
                        <img src="{% static 'img/tienda3.webp' %}" class="d-block w-100" alt="Exotic Fruits">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock 'content' %}
